<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>Cars page.</h1>
      <p>Contains an example of ejs loop.</p>
      <ul>
        <% for(let car of cars) { %>
        <li><%= car %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
