<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>The Home Page <%= 50+10 %></h1>
      <p>Contains an example of ejs expression.</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A voluptatum
        reiciendis rem illum, tempore dolorem sapiente odio itaque, impedit fuga
        odit quis fugit? Dicta libero id similique optio nostrum qui.
      </p>
    </div>
  </body>
</html>
