<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <p>Contains an example of ejs conditional.</p>
      <h1>Radom Number: <%= randNum %></h1>
      <% if(randNum % 2===0) {%>
      <h3>This is an even number</h3>
      <% } else { %>
      <h3>This is an odd number</h3>
      <% } %>

      <h1>Using ternary operator</h1>
      <%= randNum%2===0 ? 'Even number' : 'Odd number' %>
    </div>
  </body>
</html>
